html, body{
  height: 100%;
  width: 100%;
}
html{
  display: table;
}
body{
  display: table-cell;
  vertical-align: middle;
  background: #f1f1f1;
}
form{
  margin: auto;
  width: 300px;
  background-color: #fff;
  padding: 35px;
  border-radius: 2px;
}
form>input{
  display: block;
  width: 100%;
  height: 30px;
  font-size: 1.5em;
/*  border-radius: 0px;*/
}
input:focus{
  outline: none;
}